name: CI Spring Boot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # AQUÍ ESTÁ EL CAMBIO: Usamos Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build & Test with Maven
        run: mvn clean verify

      - name: Build Docker image
        run: docker build -t myapp:${{ github.sha }} .